<!DOCTYPE html>
<html lang="de">
<head>

  <%- include('./head'); %>
</head>


<header>
  <%- include('./header'); %>
</header>

<h1>Channel von: <%= name %></h1>

<% if (chn.chan_log_on_only == 1 && !user) { %>
    <p>Bitte Loggen Sie sich ein um den Stream zu sehen</p>
<% } else {%>
  <h1><%= chn.chan_title %></h1>

  <br>
  <% if (!live) { %>
    <p>Offline</p>
  <% } %>


  <link href="/resources/video-js.css" rel="stylesheet">
  <script src="/resources/video.min.js"></script>

  <video-js id=vid1 width=600 height=300 class="vjs-default-skin" controls poster='/content/<%=name%>/thumbnail.png' >
    <source
        src="/content/<%=name%>/index.m3u8",
    type="application/x-mpegURL"> 
  </video-js>
  

  <script>
    //socketIO
    var socket = io();
    socket.emit('join', "<%=name%>");
  </script>

  <script>
    //player
    var player = videojs('vid1');

    if(!<%=live%>){
      player.bigPlayButton.hide();
      player.errorDisplay.dispose();

    }

    player.on('pause', function() {
      this.bigPlayButton.show();

      player.one('play', function() {
        this.bigPlayButton.hide();
      });
    });
    //autoplay?
    //player.play();

  </script>

  <script>
    const url='https://vssubuntu/viewer/<%=name%>'

    httpGetAsync(url, (data)=>{
      console.log(data)
      document.getElementById("viewer").innerHTML = data;
    }

    )
    function httpGetAsync(theUrl, callback) {

      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
      }

      xmlHttp.open("GET", theUrl, true); // true for asynchronous 
      xmlHttp.send(null);
    }

  </script>



  <p > DESCIPTION <%= chn.chan_descrip %></p>
  <p id="viewer" ></p>
  <% }%>

<% if(same){ %>
  <a href="/settings" > Einstellungen</a>
  <% } %>


<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>

