<!DOCTYPE html>
<html lang="de">
<head>

  <%- include('./head'); %>
</head>


<header>
  <%- include('./header'); %>
</header>

<h1>Channel von: <%= name %></h1>

<% if (chn.chan_log_on_only == 1 && !user) { %>
    <p>Bitte Loggen Sie sich ein um den Stream zu sehen</p>
<% } else {%>
  <h1><%= chn.chan_title %></h1>

  <br>
  <% if (!live) { %>
    <p>Offline</p>
  <% } %>


  <link href="/resources/video-js.css" rel="stylesheet">
  <script src="/resources/video.min.js"></script>

  <video-js id=vid1 width=600 height=300 class="vjs-default-skin" controls poster='/content/<%=name%>/thumbnail.png' >
    <source
        src="/content/<%=name%>/index.m3u8",
    type="application/x-mpegURL"> 
  </video-js>
  



  <script>
    //player
    var player = videojs('vid1');

    if(!<%=live%>){
      player.bigPlayButton.hide();
      player.errorDisplay.dispose();

    }

    player.on('pause', function() {
      this.bigPlayButton.show();

      player.one('play', function() {
        this.bigPlayButton.hide();
      });
    });
    //autoplay?
    //player.play();

  </script>

  <script async type="module">

  await sleep(1000)
  loadViewer()
    function httpGetAsync(theUrl, callback) {

      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
      }

      xmlHttp.open("GET", theUrl, true); // true for asynchronous 
      xmlHttp.send(null);
    }

    function sleep(milliseconds) {
      return new Promise(resolve => setTimeout(resolve, milliseconds));
    }

    async function loadViewer(){
      
      const url='https://vssubuntu/viewer/<%=name%>'

      httpGetAsync(url, (data)=>{
        console.log(data)
        document.getElementById("viewer").innerHTML = data;
      })

      await sleep(15000)

      loadViewer()
    }
  </script>


  <p > DESCIPTION <%= chn.chan_descrip %></p>
  <p id="viewer" ></p>
  <% }%>

<% if(same){ %>

  
  <a href="/settings" > Einstellungen</a>

  <script>
    //socketIO
    var socket = io();
    socket.emit('join', "<%=name%>");
    socket.on("chat message", (data) =>{
      console.log("chat message" + data);
    })


  </script>


  <% } else { %>
    <div id="sendbottom">
      <input type="text" id="msg">
      <input type="button" id="send" value="send">
    </div>

    <script>
      //socketIO
      var socket = io();
      socket.emit('join', "<%=name%>");
  
      var btn = document.getElementById("send");
  
      btn.addEventListener('click', e => {
        e.preventDefault()
  
        var msg2send = document.getElementById('msg').value;
        document.getElementById('msg').value = '';
        console.log("sending: " + msg2send)
        socket.emit('chat message', msg2send);
      })
  
    </script>


    <% } %>


    

<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>

