<!DOCTYPE html>
<html lang="de">
  <head>
    <%- include('./head'); %>
    <script src="https://unpkg.com/socket.io-client@3.0.1/dist/socket.io.min.js"></script>
    <link rel="stylesheet" href="/resources/channel.css" />
  </head>
  <body>
    <header><%- include('./header'); %></header>

    <div class="container">
      <div class="row no-margin">
        <div class="col-9 no-padding">
          <link href="/resources/video-js.css" rel="stylesheet" />
          <script src="/resources/video.min.js"></script>

          <video-js
            id="vid1"
            class="vjs-default-skin"
            controls
            poster="/content/<%=name%>/thumbnail.png"
          >
            <source
              src="/content/<%=name%>/index.m3u8"
              ,
              type="application/x-mpegURL"
            />
          </video-js>

          <script>
            var socket = io("/viewer");
            socket.emit('join', "<%=name%>");

            var player = videojs('vid1');
            player.fluid(true);
            if(!<%=live%>){
              player.bigPlayButton.hide();
              player.errorDisplay.dispose();
            }

            player.on('dblclick', function() {
              this.requestFullscreen();

              player.on('dblclick', function() {
              this.exitFullscreen();
            });

            });

            player.on('pause', function() {
              this.bigPlayButton.show();

              player.one('play', function() {
                this.bigPlayButton.hide();
              });

            });

            //autoplay?
            //player.play();
          </script>

          <div class="row no-margin">
            <div class="col-6 no-padding w-100">
              <div class="card mb-3 w-100">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="/content/<%=name%>/profile.png"
                      alt="..."
                      style="max-width: 120px"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= chn.title %></h5>
                      <p class="card-text">
                        <b><%= name %>: </b>DESCIPTION <%= chn.description %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 no-padding">
              <% if ((chn.chat == 3 && user|| chn.chat == 2) && !same) {%>

              <div id="sendbottom">
                <input class="inputMessage" type="text" id="msg" />
                <input
                  type="button"
                  id="send"
                  value="send"
                  class="inlineButton"
                  *
                />
                <p id="sendStatus"></p>
              </div>
              <br />
              <% } %> <%- include('./feedback'); %>
            </div>
            <% if(same){ %>
            <a href="/settings"> Einstellungen</a>
            <% } %> <% if (live) { %>

            <script async type="module">
              await sleep(1000);
              loadViewer();

              function httpGetAsync(theUrl, callback) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                  if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
                };

                xmlHttp.open("GET", theUrl, true); // true for asynchronous
                xmlHttp.send(null);
              }

              function sleep(milliseconds) {
                return new Promise((resolve) =>
                  setTimeout(resolve, milliseconds)
                );
              }

              async function loadViewer() {
                const url = "https://vssubuntu/viewer/<%=name%>";

                httpGetAsync(url, (data) => {
                  console.log(data);
                  document.getElementById("viewer").innerHTML = data;
                });
                await sleep(15000);
                loadViewer();
              }
            </script>

            <p id="viewer"></p>

            <% } %>
          </div>
        </div>
        <div class="col-3 no-padding">
          <% if (chn.chat == 1 ) { %>
          <p>chat deaktiviert</p>

          <% } else if (((chn.chat == 3 || chn.chat == 2) && same) || (chn.chat
          == 4 ) || (chn.chat == 5 && user) ){%>
          <div class="chatcontainer">
            <div id="messages">
              <p>Chat:</p>
              <ul id="chatlist" class="chat"></ul>
            </div>
            <div id="chatActions">
              <div id="sendbottom">
                <input class="inputMessage" type="text" id="msg" />
                <input
                  type="button"
                  id="send"
                  value="send"
                  class="inlineButton"
                />
                <p id="sendStatus"></p>
              </div>
            </div>
          </div>
          <% } else if (chn.chat == 3 && !user) {%>
          <p>chat deaktiviert, bitte einloggen</p>
          <% } else if (chn.chat == 5 && !user) {%>
          <p>chat deaktiviert, bitte einloggen</p>
          <% }%>

          <script>
            var socketCHAT = io("/chat");
            socketCHAT.emit("join", "<%=name%>");

            //socket.emit('join', "<%=name%>");
            socketCHAT.on("chat message", (data) => {
              console.dir(data);

              var userSPAN = document.createElement("SPAN");
              userSPAN.setAttribute("class", "username");
              var userTEXT = document.createTextNode(data.name);
              userSPAN.appendChild(userTEXT);

              var msgSPAN = document.createElement("SPAN");
              msgSPAN.setAttribute("class", "message");
              var msgTEXT = document.createTextNode(data.msg);
              msgSPAN.appendChild(msgTEXT);

              var node = document.createElement("LI");
              node.setAttribute("class", "messageContainer");

              node.appendChild(userSPAN);
              node.appendChild(msgSPAN);

              var ul = document.getElementById("chatlist");
              ul.appendChild(node);
            });

            socketCHAT.on("status", async (data) => {
              if (data.success) {
                document.getElementById("sendStatus").innerHTML = data.asw;
                document.getElementById("msg").value = "";
              } else {
                document.getElementById("sendStatus").innerHTML = data.asw;
              }

              await sleep(3000);
              document.getElementById("sendStatus").innerHTML = "";
            });

            var btn = document.getElementById("send");

            btn.addEventListener("click", (e) => {
              e.preventDefault();

              var msg2send = document.getElementById("msg").value;

              console.log("sending: " + msg2send);
              socketCHAT.emit("chat message", msg2send);
            });

            function sleep(milliseconds) {
              return new Promise((resolve) =>
                setTimeout(resolve, milliseconds)
              );
            }
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
