<!DOCTYPE html>
<html lang="de">
  <head>
    <%- include('./head'); %>
    <link rel="stylesheet" href="/resources/home.css" />
  </head>

  <body>
    <header><%- include('./header'); %></header>

    <div class="card-deck">
      <% for(var i=0; i < livechannel.length; i++) { %>

      <div class="card">
        <p>
          <a href="/channel/<%= livechannel[i].nickname %>">
            <img
              src="/content/<%=livechannel[i].nickname%>/thumbnail.png"
              class="card-img-top"
              alt="..."
              href="/channel/<%= livechannel[i].nickname %>"
            />
          </a>
        </p>

        <div class="card-body">
          <h4 class="card-title"><%= livechannel[i].title %></h4>
          <p class="card-text">
            <b><%= livechannel[i].nickname %>: </b> <%=
            livechannel[i].description %>
          </p>
        </div>
      </div>

      <% } %>

      <% if (livechannel.length == 0) { %>
       <p>Looks like nobody is live</p>
      <% } %>
    </div>

    <footer><%- include('./footer'); %></footer>
  </body>
</html>
