<!DOCTYPE html>
<html lang="de">
<head>

  <%- include('./head'); %>

</head>

<header>

  <%- include('./header'); %>

</header>

<% for(var i=0; i < livechannel.length; i++) { %>
  <div>
    <img src="/content/<%=livechannel[i].nickname%>/thumbnail.png" width="150" height="100" id="<%= livechannel[i].nickname %>">
    <a href="/channel/<%= livechannel[i].nickname %>"><b><%= livechannel[i].nickname %>: </b>  <%= livechannel[i].chan_title %></a>
  </div>

<% } %>


  <a href="/channel/nquanz" > nquanz</a>
  <a href="/channel/ewiedmer" > ewiedmer</a>
  <a href="/settings" > Einstellungen</a>

<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>

