<!DOCTYPE html>
<html lang="de">
<head>

  <%- include('./head'); %>
</head>

<header>
  <%- include('./header'); %>
</header>

<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>

<h1>Einstellungen</h1>



<% if (status) { %>
  <%= status %>
<% } %>

<br>

<h3>Stream Einstellungen</h3>
<div id="streamkey" style="display: none;">

  <p>Server: <%= server %></p>
  <p>Streamkey: <%= Skey %></p>

 <form id="Renew"action="/settings/streamKey/?_method=post" method="POST">
  <input type="submit" value="Neu erstellen">
 </form>

 <br>
</div>
<button onclick="toggle_visibility('streamkey');">Anzeigen</button>

<br><br>
<h3>Channel</h3>

<form id="change"action="/settings/?_method=post" method="POST">
  <label for="Title">Title:</label><br>
  <input type="text" id="Title" name="Title" value="<%= chn.title %>"><br>
  <label for="descrip">Beschreibung:</label><br>
  <input type="text" id="descrip" name="descrip" value="<%= chn.description %>"><br>
  <label for="users">Users:</label><br>
  <input type="text" id="users" name="users" value="<%= chn.users %>"><br>
  <label>Zuschauer:</label> 
  <select name="user_only" id="user_only">
    <option value=1 <% if(chn.user_only == 1) {%> selected <% } %> >Alle</option>
    <option value=2 <% if(chn.user_only == 2) {%> selected <% } %> >Nur Angemeldete</option>
    <option value=3 <% if(chn.user_only == 3) {%> selected <% } %> >Bestimmt User</option>
  </select><br>
  <label>Chat:</label> 
  <select name="chat" id="chat">
    <option value=1 <% if(chn.chat == 1) {%> selected <% } %> >Kein Chat</option>
    <option value=2 <% if(chn.chat == 2) {%> selected <% } %> >Einseitiger Chat mit Gast</option>
    <option value=3 <% if(chn.chat == 3) {%> selected <% } %> >Einseitiger Chat ohne Gast</option>
    <option value=4 <% if(chn.chat == 4) {%> selected <% } %> >Öffentlicher Chat mit Gast</option>
    <option value=5 <% if(chn.chat == 5) {%> selected <% } %> >Öffentlicher Chat ohne Gast</option>
  </select><br>
  <label>Feedback:</label> 
  <select name="feedback" id="feedback">
    <option value=1 <% if(chn.feedback == 1) {%> selected <% } %> >Kein Feedback</option>
    <option value=2 <% if(chn.feedback == 2) {%> selected <% } %> >User Feedback</option>
    <option value=3 <% if(chn.feedback == 3) {%> selected <% } %> >Öffentliches</option>
  </select>
  <br>
  <input type="submit" value="Senden">
</form>

<br><br>
<h3>Thumbnails</h3>
<form method="POST" action="/settings/offline" enctype="multipart/form-data">

  <label>Offline Image:</label>
  <br>
  <input type="file"   name="image" />
  <br>
  <input type="submit" value="Hochladen" /> 

</form>

<br>

<form method="POST" action="/settings/live" enctype="multipart/form-data">
  <label>Live Image:</label>
  <br>
  <input type="file"   name="image" />
  <br>
  <input type="submit" value="Hochladen" /> 
</form>

<br>

<form method="POST" action="/settings/profile" enctype="multipart/form-data">
  <label>Profil Bild:</label>
  <br>
  <input type="file"   name="image" />
  <br>
  <input type="submit" value="Hochladen" /> 
</form>

<br>
<br>

<form action="/settings/thumbnails/?_method=post" method="POST" >
  <label>Offline Thumbnail:</label> 
  <select name="offline" id="offline" value="<%= chn.thumb_offline %>">
    <option value=1 <% if(chn.thumb_offline== 1) {%> selected <% } %> >Default</option>
    <option value=2 <% if(chn.thumb_offline== 2) {%> selected <% } %> >Eigenes</option>
  </select>
  <br>

  <label>Live Thumbnail:</label> 
  <select name="online" id="online">
    <option value=1 <% if(chn.thumb_online == 1) {%> selected <% } %> >Default</option>
    <option value=2 <% if(chn.thumb_online == 2) {%> selected <% } %> >Eigenes</option>
    <option value=3 <% if(chn.thumb_online == 3) {%> selected <% } %> >Auto thumbnail</option>
  </select>
  <br>
  <input type="submit" value="Senden" /> 
</form>
<br>


<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>