<%- include('../../../views/header'); %>

<h1>CHANNEL BY <%= name %></h1>

<h1>TTTLE: <%= chn.chan_title %></h1>

<p> DESCIPTION <%= chn.chan_descrip %></p>

<% if (chn.chan_log_on_only == 1) { %>
    <p>Bitte Loggen Sie sich ein um den Stream zu sehen</p>
<% } %>


<link href="/livestream/player/video-js.css" rel="stylesheet">

<video-js id=vid1 width=600 height=300 class="vjs-default-skin" controls>
    <source
    src="<%=link%>"
       type="application/x-mpegURL">
</video-js>
<script src="/livestream/player/video.min.js"></script>
<script src="/livestream/player/videojs-http-streaming.min.js"></script>
<script>
  var player = videojs('vid1');
  player.play();
</script>