<!DOCTYPE html>
<html lang="de">
<head>

  <%- include('./head'); %>
</head>


<header>
  <%- include('./header'); %>
</header>

<h1>Channel von: <%= name %></h1>



<% if (chn.chan_log_on_only == 1 && !user) { %>
    <p>Bitte Loggen Sie sich ein um den Stream zu sehen</p>
<% } else {%>
  <h1><%= chn.chan_title %></h1>

  <link href="/livestream/player/video-js.css" rel="stylesheet">


  <video-js id=vid1 width=600 height=300 class="vjs-default-skin" controls poster='/livestream/content/<%=name%>/thumbnail.png' >
      <source
      src="/livestream/content/<%=name%>/index.m3u8",
    type="application/x-mpegURL">
  </video-js>
  <script src="/livestream/player/video.min.js"></script>
  <script src="/livestream/player/videojs-http-streaming.min.js"></script>

  <script>
    
    var player = videojs('vid1');

    //autoplay?
    //player.play();
  </script>

  <p> DESCIPTION <%= chn.chan_descrip %></p>

  <% }%>

<% if(same){ %>
  <a href="/livestream/settings" > Einstellungen</a>
  <% } %>


<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>

