<h1>CHANNEL BY <%= name %></h1>

<h1>TTTLE: <%= chn.title %></h1>

<p> DESCIPTION <%= chn.descirp %></p>

<% if (key) { %>
    <p>streaming KEY: <%=key%></p>
<% }else { %>
    <p>NONOONO</p>
<%} %>
<link href="http://vssubuntu:3000/livestream/player/video-js.css" rel="stylesheet">

<video-js id=vid1 width=600 height=300 class="vjs-default-skin" controls>
    <source
    src="<%=link%>"
       type="application/x-mpegURL">
</video-js>
<script src="http://vssubuntu:3000/livestream/player/video.min.js"></script>
<script src="http://vssubuntu:3000/livestream/player/videojs-http-streaming.min.js"></script>
<script>
  var player = videojs('vid1');
  player.play();
</script>