<!DOCTYPE html>
<html lang="de">
<head>

  <%- include('./head'); %>
</head>

<header>
  <%- include('./header'); %>
</header>

<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>

<h1>Einstellungen</h1>

<div id="streamkey" style="display: none;">

  <p>Server: rtmp://vssUbuntu/live</p>
  <p>Streamkey: <%= Skey %></p>

 <form id="Renew"action="/livestream/settings/streamKey/?_method=post" method="POST">
  <input type="submit" value="Neu erstellen">
 </form>

 <br>

</div>

<button onclick="toggle_visibility('streamkey');">Stream Einstellungen zeigen</button>

<br><br>

<form id="change"action="/livestream/settings/?_method=post" method="POST">
  <label for="Title">Title:</label><br>
  <input type="text" id="Title" name="Title" value="<%= chn.chan_title %>"><br>
  <label for="descrip">Beschreibung:</label><br>
  <input type="text" id="descrip" name="descrip" value="<%= chn.chan_descrip %>"><br>
  <label for="loginOnly">Nur für User: </label>
  <input type="checkbox" id="loginOnly" name="loginOnly" <% if (chn.chan_log_on_only == 1 ) {%> checked <%}%>>
  <br><br>
  <input type="submit" value="Senden">
</form>


<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>